/* import de polices Google fonts */
@import url('https://fonts.googleapis.com/css?family=Lato|Raleway:300');

/*   ___       __       __
    /   \     |  |     |  |
   /  ^  \    |  |     |  |
  /  /_\  \   |  |     |  |
 /  _____  \  |  `----.|  `----.
/__/     \__\ |_______||_______|
*/

/*---------------------------------
  css commun a toutes les largeurs
-----------------------------------*/

body {
	font-family: 'Raleway', sans-serif;
	margin: 0;
	background-size: cover;
	background-attachment: fixed;
  background-color: #ecf0f1;
}

header{
	background-color: #FFF;
}

#contenu{
	font-family: 'Raleway', sans-serif;
	margin: auto;
	overflow: auto;
	padding-left: 10px;
	padding-right: 10px;
}

#header{
	background-color: #FFF;
	height: 60px;
	box-shadow: 0px 5px 8px #aaa;
	z-index: 9999;
	position: fixed;
	width: 100%;
}



/*
.___  ___.  __   _______   _______   __       _______
|   \/   | |  | |       \ |       \ |  |     |   ____|
|  \  /  | |  | |  .--.  ||  .--.  ||  |     |  |__
|  |\/|  | |  | |  |  |  ||  |  |  ||  |     |   __|
|  |  |  | |  | |  '--'  ||  '--'  ||  `----.|  |____
|__|  |__| |__| |_______/ |_______/ |_______||_______|
*
/

/*------------------------------------------------------------------------
  css pour les petites fenêtres ou écran de moyenne taille (ex: tablettes)
-----
---------------------------------------------------------------------*/

@media (min-width: 768px){

	#header img{
		max-height: 30px;
    max-width: 39%;
	}
  #header a#title {
    padding-top: 5px;
    padding-left: 5px;
    font-size: 40px;
    text-decoration: none;
    font-family: "Raleway";
    color: #34495e;
    float: left;
  }
  nav{
    padding-top: 5px;
		display: inline-block;
    float: right;
		width: 59%;
		background-color: #FFF;
	}

	div#toggle-menu, div#toggle-menu i{
		display: none;
	}

	ul#menu_PC{
		margin: 0;
		padding: 0;
	}

	ul#menu_PC li {
		float: left ;
		text-align: center ;
		list-style: none;
		width: calc(100% / 3);
	}

  ul#menu_PC li a#menuactive{
    font-weight: bold;
    text-decoration: underline;
    -ms-transform: scale(1.05,1.05); /* IE 9 */
    -webkit-transform-origin: 50% 50%; /* Chrome, Safari, Opera */
    -webkit-transform: scale(1.05,1.05); /* Chrome, Safari, Opera */
    transform-origin: 50% 50%;
    transform: scale(1.2,1.2);
		background-color: #eaecee;
  }
	ul#menu_PC li a{
		line-height: 50px ;
		font-size: 1em ;
    width: 100%;
		letter-spacing: 2px ;
		color: #34495e;
		display: block;
		text-decoration: none ;
		height: 50px;
		transition: 0.25s;
	}

	ul#menu_PC a:hover{
    -ms-transform-origin: 50% 50%; /* IE 9 */
    -ms-transform: scale(1.05,1.05); /* IE 9 */
    -webkit-transform-origin: 50% 50%; /* Chrome, Safari, Opera */
    -webkit-transform: scale(1.05,1.05); /* Chrome, Safari, Opera */
    transform-origin: 50% 50%;
    transform: scale(1.05,1.05);
		 text-decoration: underline;
	}

  #contenu{
    width: 90%;
    background-color: white;
    margin: auto;
    min-height: 1080px;
    min-height: calc(100vh - 138px);
    padding-top: 60px;
    padding-bottom: 30;
  }
  footer{
    box-shadow: 0px -5px 8px #888;
    width: 100%;
    background-color: white;
    z-index: 9999;
  }
  div#footer{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}


/*
     _______..___  ___.      ___       __       __
    /       ||   \/   |     /   \     |  |     |  |
   |   (----`|  \  /  |    /  ^  \    |  |     |  |
    \   \    |  |\/|  |   /  /_\  \   |  |     |  |
.----)   |   |  |  |  |  /  _____  \  |  `----.|  `----.
|_______/    |__|  |__| /__/     \__\ |_______||_______|*/


/*---------------------------------
  css pour petit écran (mobiles)
-----------------------------------*/

@media (max-width: 767px) {
	#header {
		padding-bottom: 5px;
	}
	#contenu{
    background-color: white;
    margin: auto;
    min-height: 500px;
    min-height: calc(100vh - 158px);
    padding-top: 60px;
    padding-bottom: 30;
		padding-left: 5px;
		padding-right: 5px;
  }
  #header a#title {
    padding-top: 15px;
    padding-left: 10px;
    font-size: 30px;
    text-decoration: none;
    font-family: "Raleway";
    color: #34495e;
    float: left;
		overflow: hidden;
		max-width: calc(100% - 75px);
		max-height: 40px;
  }
	#header img{
		max-height: 20px;
		max-width: calc(100% - 80px);
	}
  nav#slide{
		display: none;
		width: 100%;
		box-shadow: 0 5px 12px #aaa;
	}
	div#toggle-menu{
		float: right;
		height: 60px;
		background-color: white;
	}
	div#toggle-menu a{
		float: right;
		width: 40px;
		height: 30px;
		margin: 5px 20px 0px 0;
		text-align: center;
		color: #34495e;
	}
	div#toggle-menu i{
		width: 40px;
		height: 30px;
		line-height: 30px;
	}
	ul#menu_PC{
		padding: 0;
		margin: 0;
	}
	ul#menu_PC li {
		text-align: center ;
		list-style: none;
		width: 100%;
		padding: 0px;
		margin: 0px;
	}
	ul#menu_PC li a{
		line-height: 50px ;
		font-size: 1em ;
		font-weight: bold ;
		letter-spacing: 2px ;
		background-color: rgba(255,255,255, 0.95);
		color: #34495e;
		padding-bottom: 10px;
		display: inline-block;
		text-decoration: none ;
		height: 40px;
		width: 100%;
	}

	ul#menu_PC a:hover{
		background-color: #476481;
		transition: 0.35;
	}

  div#footer{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
		background-color: white;
		box-shadow : 0 -5px 12px #aaa;
  }

}
